GUI                   # mode = batch / GUI
125000000                # umr3_clk_freq = 125000000 // 125 MHz
38400                    # baudrate = ...
0                        # flow_control = 1 - enable, 0 - disable
3                        # parity = 1->odd, 2->even, 3->no
1                        # stop_bits = 1 ,  2
1                        # reset_error =  1 - yes, 0 - no
random.txt               # input_file = ...
stdout                   # Direct output to the terminal
0                        # DEBUG = 1 - enable, 0 - disable
/dev/ttyUSB0             # For HW Test USB device name
0                        # Local Echo = 1 - enable, 0 - disable
0                        # Loopback = 1 - yes, 0 - no
1000                     # Size in KB to end APP in batch mode
